{% extends "webapp/base.html" %}
{% block content %}

    <div class="card">
        <strong>
            &nbsp; &nbsp; 
            {{record.first_name|upper}}
            {{record.last_name}}
        </strong>
        <hr>
        
        <div class="card-body">
            <p><strong>ID: </strong> {{record.id}}</p>
            <p><strong>Email: </strong> {{record.email}}</p>
            <p><strong>Phone:  </strong> {{record.phone}}</p>
            <p><strong>Address:  </strong> {{record.address}}</p>
            <p><strong>City:   </strong> {{record.city}}</p>
            <p><strong>Provice:   </strong> {{record.province}}</p>
            <p><strong>Country:   </strong> {{record.country}}</p>
            
            <p><strong>Creation Date:   </strong> {{record.creation_date}}</p>
            
        </div>

    </div>
    <br>

    <a href="{% url "dashboard" %}" class="btn btn-primary">Return</a>
    <a href="{% url "update-record" record.id%}" class="btn btn-info">Update record</a>
    <a href="{% url "delete-record" record.id %}" class="btn btn-danger">Delete</a>



{% endblock  %}